.header{
    background-color:rgb(134, 104, 104);
    text-align: center;
    font-style:italic;
    margin: 0  ;
    padding:0 ;
}
h1{
     padding: 0 ;
     margin-top: 0;
     margin-bottom: 0;
    }

body{
    margin:0;
    padding:0;
    }

input {
    vertical-align: top;
}
.main{
    width : 100% ;
    justify-content: center;
  background-color:rgb(192, 159, 159);
   
}

.search{
    padding: 2%;
    margin-left: px;
    width: 40%;
}

.coffee-card{
    border:solid ;
    border-color: #684638f5;
    padding: 50px;
    transition: 0.3s;
    margin: 30px;
    text-align: center;
    width: 350px;
    height: 450px;
    overflow-x: auto;
    background-color: rgb(238, 230, 230);
}


.coffee-card:hover{
    border:groove;
    border-color: rgba(224, 167, 129, 0.747);
    width: 345px;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(112, 63, 63, 0.904);
    background-color: white;
}

#coffee-list{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
   margin-left: 2%;
}

img {
    height: 50%;
    width: 65%;
    padding: 3%;
  }

  .search{
    display: flex;
    margin-left: 320px;
    width: 50%;
  }

  .buttons{
      text-align: center;
      /*margin-left:620px;*/
   padding: 10px;
   
  }
  .button-Container{
    text-align: center;
    margin-right: 33px;
    
    
  }

  #coffeeFormContainer{
      width: 40%;
      vertical-align: top;
      }

#addform{
      width: 60%;
  }

.like-bttn{
      background-color:rgb(192, 159, 159);
      border: none;
      width: 100px;
      height: 50px;

  }

#formContainer{
    margin-top: 5%;
    margin-left: 30%;
    width: 40%;
    }

#recipeSubmit{
    margin:2%;
    margin-left: 40%;
}

.footer{
    width: 100%;
    margin-bottom: 0%;
}
.contact{
    background-color: rgb(151, 111, 111);
}
#copyright{
    text-align: center; 
    background-color:rgb(134, 104, 104);
}